
.MacDiv {
    width: 50%;
    position: relative;
    display: flex;
    flex-shrink: 0; 
    margin-left: 1rem;

}



.macBook {
    position: static;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
}

.pilotTrackingTrainings1 {
    position: absolute;
    top: 12%;
    left: 13%;
    width: 74%;
    height: 78%;
    object-fit: cover;
}