

.displayHolder {
    display: flex; 
    gap: 40px; /* Space between the phones and the laptop display */
    align-items: flex-start; 
    justify-content: center;
    width: 80%;
    margin: auto;
    background-image: url('/public/AviationExamples/aviationBackground.png');
    background-size: cover; /* This makes the image cover the entire div, cropping if necessary */
    height: 60vh;

}

.cellPhonesDiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
      background: transparent;
  overflow: hidden;
}

.halPhone {

    width: 100%;
    position: relative;
    object-fit: cover;
    width: 15rem;
    max-height: 55vh;

}

.aviationVideo {
    max-height: 55vh;


}

