
/* TITLE */

.whatIveDesignedAndCanDeParent {
  	width: 100%;
  	position: relative;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 20px 80px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 24px;
  	color: #bfbfbf;
  	font-family: Zain;
}
.whatIveDesigned {
  	flex: 1;
  	position: relative;
  	font-weight: 800;
}

.whatIveDesigned {
  	flex: 1;
  	width: 100%;
  	position: relative;
  	font-size: 24px;
  	font-weight: 800;
  	font-family: Zain;
  	color: #bfbfbf;
    text-align: left;
  	display: inline-block;
}



/* PILLS */

.whatIDesign {
    width: 100%;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 2rem;
}

.frameParent {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 1.5rem
}


.pillWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    height: 4rem;
    box-sizing: border-box;
	margin: 0;
}

.pillText {
    position: relative;
    font-size: 1.25em;
    font-weight: 800;
	padding: 1em 2em;
    font-family: 'Zain', sans-serif;
    text-align: center;
	margin: 0;
}
