
/* TITLE */

.whatIveDesignedAndCanDeParent {
  	width: 100%;
  	position: relative;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 20px 80px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 24px;
  	color: #bfbfbf;
  	font-family: Zain;
}
.whatIveDesigned {
  	flex: 1;
  	position: relative;
  	font-weight: 800;
}

.whatIveDesigned {
  	flex: 1;
  	width: 100%;
  	position: relative;
  	font-size: 24px;
  	font-weight: 800;
  	font-family: Zain;
  	color: #bfbfbf;
    text-align: left;
  	display: inline-block;
}

