
/* TITLE */

.whatIveDesignedAndCanDeParent {
  	width: 100%;
  	position: relative;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 20px 80px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 24px;
  	color: #bfbfbf;
  	font-family: Zain;
}
.whatIveDesigned {
  	flex: 1;
  	position: relative;
  	font-weight: 800;
}

.whatIveDesigned {
  	flex: 1;
  	width: 100%;
  	position: relative;
  	font-size: 24px;
  	font-weight: 800;
  	font-family: Zain;
  	color: #bfbfbf;
    text-align: left;
  	display: inline-block;
}



/* PILLS */

.whatIDesign {
    width: 100%;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.frameParent {
    display: flex;
    align-items: center;
    justify-content: center; /* This centers the pills horizontally */
    flex-wrap: wrap; /* Allows pills to wrap to the next line on smaller screens */
    gap: 20px;
}

/* PILL STYLES */

.pillWrapper {
    /* Styles for the outer container of each pill */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 15px 30px;
    height: 75.6px;
    min-width: 64.2px; /* Ensure a minimum size */
    box-sizing: border-box;
    /* The background color is set dynamically in the component's inline style */
}

.pillText {
    /* Styles for the text inside each pill */
    position: relative;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Zain', sans-serif;
    text-align: center;
    /* The text color is set dynamically in the component's inline style */
}
