/* CONTACT */

.frameParent {
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-family: Zain;
  font-size: 18px;
  color: #4d4d4d;
  padding: 1rem;
  
}

.contactItem {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  
}

.contactText {
  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

.contactText:hover {
  text-decoration: underline;
}

.resume {
  display: flex;
  align-items: center;
  gap: 10px;
    text-decoration: none;

}