.displayDiv {
    /* Base styles for all screen sizes */
    display: flex; 
    gap: 40px; 
    align-items: flex-start; 
    height: 60vh;

}

/* @media (min-width: 1200px) {

    .displayDiv {
        min-height: 500px;
    }
} */