
.taxDiv {

width: 75%;
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
margin: 3rem auto;
max-height: 70vh;
}

.pictureDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: -7rem;
}


/* top picture */
.taxPic{

    width: 80%;
    z-index: -1;
}


/* bottom picture  */
.browse {
    width: 60%;

    
}
